header{
    height: 500px;
    background-color: $black;
    color: $white;
    box-shadow: $box-shadow;
    position: relative;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left top;
        object-position: -175px 0px;
    }

    h1, p{
        position: absolute;
        z-index: 100;
        opacity: 0.9;
        //text-shadow: $text-shadow;
    }

    h1{
        top: 50px;
        right: 60px;
        font-size: 3rem;
        letter-spacing: 4px;

        @media (max-width: 635px){
            font-size: 2.1rem;
        }

        @media (max-width: 525px){
            font-size: 1.8rem;
            top: 30px;
            right: 30px;
        }
    }

    p{
        top: 110px;
        right: 60px;
        letter-spacing: 6px;

        @media (max-width: 635px){
            top: 90px;
        }

        @media (max-width: 525px){
            // color: red;
            font-size: 0.7rem;
            top: 65px;
            right: 30px;
            letter-spacing: 4px;
        }
    }
}

main{
    //background-color: #fcfcfc;
    padding: 4em 0;
    // text-shadow: $text-shadow;

    // h2{
    //     text-align: center;
    //     letter-spacing: 6px;
    //     padding-bottom: 1em;
    // }

    .timeline{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        /* //border: 1px solid blue; */
        position: relative;

        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: calc(50% - 2px);
            width: 4px;
            height: 100%;
            background-color: $primary_color;
            box-shadow: $box-shadow-light;
        }

        > div{
            /* border: 1px solid red; */
            // padding: 0 10px 15px;

            &.date{
                font-weight: 600;
                // font-size: 1.1rem;
            }

            &.info{
                font-size: 0.9rem;
                letter-spacing: 2px;
                text-shadow: $text-shadow;
            }

            &:nth-child(even) {
                padding: 0 50% 15px 10px;
                // border: 1px solid red;
            }

            &:nth-child(odd) {
                padding: 0 10px 15px 50%;
                text-align: right;
                position: relative;
                // border: 1px solid red;

                @media (max-width: 800px){
                    
                    padding: 0 10px 15px 20%;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 3px;
                    top: 0px;
                    right: -17px;
                    right: -15px;
                    width: 8px;
                    height: 8px;
                    border-radius: 20%;
                    background-color: $primary_color;
                
                }
            }
              
        }
    }

}

footer{
    height: 100px;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    opacity: 0.9;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

