$primary_color: #777;
$white: #f1f1f1;
$black: #000;
$box-shadow: 0.1rem 0.1rem 0.3rem #222;
$box-shadow-light: 0.1rem 0rem 0.2rem #999;
$box-shadow-heavy: 0rem 0rem 5rem #777;
$text-shadow: 0px 0px 10px #ddd;
